[Unit]
Description=GPIO Control Service

[Service]
User=pi
WorkingDirectory=/home/pi/RPi5_MQTT_GPIO_control
ExecStart=/home/pi/RPi5_MQTT_GPIO_control/venv/bin/python /home/pi/RPi5_MQTT_GPIO_control/gpiocontro.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target